.home {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 12px;
}

.search,
.select {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--border);
  border-radius: 12px;
  font-weight: 500;
  max-width: 600px;

  &:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0px 2px var(--primary-color-trans);
  }

  &::placeholder {
    font-weight: 400;
    // overflow: auto;
  }
}

.slideContainer {
  position: relative;
}
.swiperSlide {
  width: 100px !important;
}

.bannerSlider {
  width: 100%;
  position: static !important;
  max-width: 450px;
}

.swiperSlider {
  border-radius: 20px;
  overflow: hidden;
}

.categoriesSlider {
  width: 90%;
  position: static !important;
  margin: 0 auto;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.banner {
  cursor: pointer;
}

.businessTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.resetButton {
  height: 40px;
  border: none;
  padding: 0 24px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4px;
  transition: background 0.2s;
  font-weight: 600;
  border: 1px solid rgba(128, 128, 128, 0.235);

  &:hover {
    background: var(--primary-color);
  }
}

.business {
  background-color: #f9fafb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  justify-items: center;
}
.businessCont {
  background-color: var(--white);
  padding: 1rem;
  max-width: 1200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.whatsappButton {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--accent);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  z-index: 10000;

  &:hover {
    background-color: #128c7e;
    transform: scale(1.1);
  }
}

.loadMore {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 32px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
  margin: 0 auto;

  &:hover {
    background: #0056b3;
  }
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
  .bannerSlider {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 24px;
  }
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .swiperSlide {
    width: 120px !important;
  }
}
