.swiper-button-prev,
.swiper-button-next {
  color: #333;
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}

.swiper-pagination {
  position: absolute;
  z-index: 300;
  transform: translateY(15px);
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
}

.swiper-wrapper {
  padding: 1rem 0;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}
