.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.modal {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
  max-width: 700px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}

.icon {
  font-size: 32px;
  cursor: pointer;
  overflow: hidden;
  color: rgb(255, 0, 0);

  &:hover {
    color: rgb(183, 0, 0);
  }
}

.content {
  margin-top: 24px;
}
