.cont {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.add {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;
  background-color: var(--accent);
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #128c7e;
  }
}

.ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.li {
  display: flex;
  cursor: pointer;
  border: 1px solid var(--muted-foreground);
  border-radius: 10px;
  transition: all 0.2s;
  gap: 8px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    transform: translateY(-2px);
  }
}

.imgCont {
  width: 120px;
  height: 120px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.del {
  margin: 0 0 0 auto;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}

.delete {
  font-size: 40px;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.name {
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.p {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;

  span {
    font-weight: 600;
  }
}

.text {
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.deleteButton {
  margin-top: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 24px;
  color: var(--primary-color);
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.092);
  cursor: pointer;
}

@media (min-width: 768px) {
  .imgCont {
    width: 170px;
    height: 170px;
  }

  .p {
    font-size: 1rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .name {
    font-size: 18px;
  }

  .add {
    padding: 8px 32px;
    font-size: 20px;
  }
}
