.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-background);
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.navContainer {
  width: 100%;
  max-width: 1200px;
  padding: 8px 16px;
}

.logoContainer {
  img {
    width: 150px;
  }
}

.main {
  flex: 1;
}

@media (min-width: 1024px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
  }
}
